@import url(https://db.onlinewebfonts.com/c/5d469c8602fefc7a185991bd076a5e93?family=Sharp+Grotesk+PE+Trial+Book+23);
@import url(https://db.onlinewebfonts.com/c/029c5f0d18cb8a57e3e9ab40d43d412d?family=Sharp+Grotesk+PE+Trial+Bold+23);
@import url(https://db.onlinewebfonts.com/c/18918009a936fa012f5928df579139a3?family=Sharp+Grotesk+PE+Trial+Book+19);

:root {
   --bg-color: #fff;
   --text-color-primary: #000;
   --text-color-blend: #fff;
   --scrolltrack-color: #ebebeb;
   --scrollthumb-color: #bebebe;
}

* {
   font-family: "Sharp Grotesk PE Trial Book 23";
}

::-webkit-scrollbar {
   width: 6px;
   margin-right: 6px;
}

::-webkit-scrollbar-track {
   background-color: var(--scrolltrack-color);
   -webkit-border-radius: 10px;
}

::-webkit-scrollbar-thumb {
   -webkit-border-radius: 10px;
   border-radius: 10px;
   background: var(--scrollthumb-color);
}

body {
   background: var(--bg-color);
   transition: all 50ms;
}

.dark-theme {
   --bg-color: #000;
   --text-color-primary: #fff;
   --text-color-blend: #000;
   --scrolltrack-color: #000;
}

.bn-container[data-theming-css-variables-demo][data-color-scheme="dark"] {
   --bn-colors-editor-text: #ffffff;
   --bn-colors-editor-background: black;
   --bn-colors-side-menu: #ffffff;
}
